<div id="one">
  <div class="container">  
    <h1>PAGE POTIN</h1>
    <hr class="style1"><br>
    <h2>Voici la page du potin n°<%= @gossip.id %> intitulé : <%= @gossip.title %></h2><br />
        <p>
          <b>Son auteur :</b> <%= @gossip.user.first_name %><br/>
          <b>Le contenu du potin :</b> "<%= @gossip.content %>"
        </p>
      <br>
    <p>
      <%= link_to "Consulter la page de l'auteur", user_show_path(@gossip.user) %>
    </p>
  </div>
</div>