<div id="one">
  <div class="container">  
    <h1>PAGE AUTEUR</h1>
    <hr class="style1"><br>
    <div class="card" id="two">
      <h2>Voici la page de l'auteur <strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>
      <p><br>
        <b>Age :</b> <%= @user.age %> ans<br/>
        <b>Ville :</b> <%= @user.city.name %> (<%= @user.city.zip_code %>)<br/>
        <b>Description :</b> "<%= @user.description %>"<br/>
         <b>Email :</b> <%= mail_to @user.email %><br/>
      </p>
      <%= link_to "Consulter la page de la ville de l'auteur", city_path(@user.city) %>
    </div>
  </div>
</div>