<div id="one">
  <div class="container">   

    <h1>MODIFICATION D'UN GOSSIP</h1>

    <hr class="style1"><br />
    <% if @gossip.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <br>
        <p>❌&nbsp;&nbsp;Nous n'avons pas réussi à modifier le potin pour la (ou les) raison(s) suivante(s) :</p>
        <ul>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <br>
      </div>
    <% end %>

    <h2>Modification du gossip n°<%= @gossip.id %></h2><br>
    <%= form_tag gossip_path, method: "patch" do %>
      <div class="form-group mb-2">
        <%= label_tag 'Titre : ' %>
        <%= text_field_tag :title, params[:title], class: 'form-control', placeholder: 'title' %>
      </div>
      <br>
      <div class="form-group">
        <%= label_tag 'Contenu du gossip : ' %>
        <%= text_field_tag :content, params[:content], class: 'form-control', placeholder: 'content' %>
      </div>
      <br>
        <%= submit_tag "Modifier", class: 'btn btn-primary' %>
    <% end %>
    <p><br></p>
  </div>
</div>