<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


  </head>

  <body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" <%= link_to "The Gossip Project", root_path %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" <%= link_to "Créer un gossip", new_gossip_path %><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "L'équipe", team_path %><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Contact", contact_path %><span class="sr-only">(current)</span></a>
          </li>
      </div>

      <% if current_user == nil %>
        <div class="nav-item dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Se connecter / S'inscrire
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "S'inscrire", new_user_path, :class => "dropdown-item" %>
              <%= link_to "Se connecter", new_session_path, :class => "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Se déconnecter", session_path(session.id), method: :delete, :class => "btn btn-danger my-2 my-sm-0" %>
      <% end %>

    </nav>

    <div id="zero">
      <%= yield %>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

